@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400&display=swap");
.contCart {
  min-height: 100vh;
  background-image: url("../assets/bgDashboard-removebg.png");
  background-color: #f3f3f3;
}

.warp {
  min-height: 100vh;
  padding-left: 200px;
  padding-right: 200px;
}
.cart-contain {
  min-height: 100vh;
  width: 100%;
  flex-direction: row;
  display: flex;
}
.cartLeft {
  background-color: transparent;
  min-height: 500px;
  width: 70%;
}

.cartRight {
  background-color: transparent;
  height: 500px;
  width: 30%;
}
.my-cart {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
}

.review-order {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.cardCart {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.cardCartLeft img {
  width: 130px;
  height: 175.5px;
}

.cardCartLeft {
  width: 130px;
  height: 175.5px;
  display: flex;
  flex-direction: row;
}

.cardCartMiddle {
  width: 480px;
  padding-left: 30px;
  padding-top: 5px;
}

.cardCartMiddle h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cartAuth {
  font-size: 16px;
  font-style: italic;
  color: #929292;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
}

.cartPrice {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #44b200;
}

.garisAtas {
  border-bottom: 2px solid #393939;
  margin-bottom: 20px;
}

.garisBawah {
  border-bottom: 2px solid #393939;
  margin-top: 50px;
}

.cartRight {
  padding-top: 29px;
}

.cartRightwarp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.cartRight-left p {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

.cartRight-right p {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}

.garisBawahh {
  border-bottom: 2px solid #393939;
  margin-bottom: 20px;
}

.cartRight-left p {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #44b200;
  font-weight: 800;
}

.cartRight-right p {
  font-family: "Nunito", sans-serif;
  color: #44b200;
  font-weight: 800;
}

.btnPay {
  width: 100%;
  height: 40px;
  background-color: #393939;
  font-size: 18px;
  color: white;
  border: 1px solid #393939;
}

.thank-you {
  color: #469f74;
  font-family: "Nunito", sans-serif;
}
.thank-you p {
  margin-bottom: 0px;
}

.totalPrice {
  font-size: 18px !important;
}

.cardCartRight img:hover {
  cursor: pointer;
}

.cardCartRight img:active {
  width: 25px;
  height: 25px;
}

.cardCartRigh {
  margin-left: -50px !important;
}
