@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.ltCont {
  background-color: #f2f2f2;
  background-image: url("../assets/bgDashboard-removebg.png");
  min-height: 100vh;
}

.containerList {
  margin-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
}

.containerList h1 {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.tabble {
  width: 100% !important;
  border: 1px solid #f1f1f1;
}

th,
td {
  padding: 0.5em;
  height: 73px;
}

tr:nth-child(odd) {
  background-color: #fff;
}

th {
  background-color: #f1f1f1 !important;
}

thead {
  color: #ff0000;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border-bottom: 3px solid #e5e5e5 !important;
}

td {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  border-top: 3px solid #e5e5e5 !important;
  border-bottom: 3px solid #e5e5e5 !important;
}

.success {
  color: #0acf83;
}

.pending {
  color: #f7941e;
}

.failed {
  color: #ff0742;
}
